body {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.list-component {
  display: flex;
  height: 98vh;
  width: 25vw;
  flex-direction: column;
  justify-content: space-between;
  border: 1px black solid;
}

.search {
  height: 5%;
}

.list {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
.list > li {
  display: flex;
  justify-content: space-between;
  height: 4vh;
}
.list > li::marker {
  content: "";
}
.list > li:hover {
  cursor: default;
}
.list > li > span > img {
  height: 2vh;
  width: 2vw;
}
.list > li.hide {
  display: none;
}

.main {
  display: flex;
  height: 98vh;
  width: 73vw;
  flex-direction: column;
  justify-content: space-between;
}

.map-component {
  height: 56vh;
  border: 1px black solid;
}
.map-control {
  display: flex;
  justify-content: space-between;
}
.map-control > * {
  width: 25vw;
}

.table-and-chart {
  display: flex;
  justify-content: space-between;
}

.table-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 25vw;
  border: 1px black solid;
}
.table {
  display: flex;
  height: 27vh;
  flex-direction: column;
}

.chart-component {
  height: 40vh;
  width: 47vw;
  border: 1px black solid;
}

.status-btns > span {
  display: flex;
  justify-content: space-between;
}
